apiVersion: v2
name: pulumi-kubernetes-operator
description: A Helm chart for the Pulumi Kubernetes Operator
home: https://pulumi.com
sources:
  - https://github.com/pulumi/pulumi-kubernetes-operator

icon: https://www.pulumi.com/logos/brand/twitter-card.png

type: application

version: 0.5.0
appVersion: 1.14.0

keywords:
  - pulumi
  - kubernetes
  - operator

maintainers:
  - name: dirien
    email: engin@pulumi.com
    url: https://pulumi.com

annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - set terminationGracePeriodSeconds for HelmCharts (#520)
  artifacthub.io/images: |
    - name: pulumi-kubernetes-operator
      image: docker.io/pulumi-kubernetes-operator:v1.14.0
  artifacthub.io/license: Apache-2.0
  artifacthub.io/links: |
    - name: website
      url: https://pulumi.com
  artifacthub.io/maintainers: |
    - name: dirien
      email: engin@pulumi.com
