name: ct-linting-and-testing
on:
  pull_request:
    paths:
      - deploy/helm/**
      - "!deploy/helm/pulumi-operator/README.md"
      - "!deploy/helm/pulumi-operator/README.md.gotmpl"

env:
  VERSION: v0.0-${{ github.sha }}

permissions: read-all

jobs:
  chart-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v3.6.3

      - name: Set up python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: 3.7

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          platforms: linux/amd64
          tags: |
            pulumi/pulumi-kubernetes-operator:${{ env.VERSION }}
          build-args: |
            VERSION=${{ env.VERSION }}

      - name: Run Trivy vulnerability scanner in IaC mode
        uses: aquasecurity/trivy-action@b2933f565dbc598b29947660e66259e3c7bc8561 # 0.20.0
        with:
          scan-type: "config"
          hide-progress: false
          format: "sarif"
          scan-ref: "deploy/helm/pulumi-operator"
          output: "trivy-results.sarif"
          limit-severities-for-sarif: true
          exit-code: "0"
          ignore-unfixed: true
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@ccf74c947955fd1cf117aef6a0e4e66191ef6f61 # v3.25.4
        with:
          sarif_file: "trivy-results.sarif"

      - name: Setup Chart Linting
        id: lint
        uses: helm/chart-testing-action@e6669bcd63d7cb57cb4380c33043eebe5d111992 # v2.6.1

      - name: List changed charts
        id: list-changed
        run: |
          ## If executed with debug this won't work anymore.
          changed=$(ct --config ./.github/configs/ct-lint.yaml list-changed)
          charts=$(echo "$changed" | tr '\n' ' ' | xargs)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
            echo "changed_charts=$charts" >> "$GITHUB_OUTPUT"
          fi

      - name: Run Artifact Hub lint
        run: |
          curl -s https://api.github.com/repos/artifacthub/hub/releases/latest | grep -E 'browser_download_url' | grep linux_amd64.tar.gz\" | grep -Eo 'https://[^\"]*' | xargs wget -O - | tar -xz
          ./ah lint -p deploy/helm/pulumi-operator || exit 1
          rm -f ./ah

      - name: Run chart-testing (lint)
        run: ct lint --debug --config ./.github/configs/ct-lint.yaml --lint-conf ./.github/configs/lintconf.yaml

      - name: Create kind cluster
        uses: helm/kind-action@0025e74a8c7512023d06dc019c617aa3cf561fde # v1.10.0
        if: steps.list-changed.outputs.changed == 'true'
      
        # See: https://github.com/helm/chart-testing/issues/171 for how to inject values.
      - name: Inject tag into test values and use for deployment
        run: |
          mkdir -p deploy/helm/pulumi-operator/ci/
          sed 's/tag: ""/tag: "${{ env.VERSION }}"/' deploy/helm/pulumi-operator/values.yaml > deploy/helm/pulumi-operator/ci/prerelease-values.yaml
      
      - name: Load images into KinD
        run: |
          kind load docker-image pulumi/pulumi-kubernetes-operator:${{ env.VERSION }}

      - name: Run chart-testing (install)
        run: ct install --config ./.github/configs/ct-install.yaml
        if: steps.list-changed.outputs.changed == 'true'
