---
name: Pulumi Kubernetes Operator Release
on:
  push:
    tags:
      - v*.*.*     # e.g. v2.0.0
      - v*.*-*.*   # e.g. v2.0-beta.1
env:
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  VERSION: ${{ github.ref_name }}
permissions:
  contents: write
jobs:
  docker:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            pulumi/pulumi-kubernetes-operator:${{ env.VERSION }}
          build-args: |
            VERSION=${{ env.VERSION }}
  release:
    name: Create a GitHub Release
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create a GH release
        uses: softprops/action-gh-release@v2
        with:
          name: pulumi-kubernetes-operator-${{ env.VERSION }}
          prerelease: ${{ contains(env.VERSION, '-') }}
          token: ${{ secrets.GITHUB_TOKEN }}
