permissions: write-all # Equivalent to default permissions plus id-token: write
# Copies all Pulumi Kubernetes Operator OCI images for the supplied version from Docker Hub to
# AWS ECR Public Gallery and GitHub Container Registry.
name: Sync Docker Hub Images to ECR and GHCR
on:
  workflow_dispatch:
    inputs:
      operator_version:
        description: The image tag to copy, fully specified, e.g. "v2.0.0"
        type: string
        required: true
  workflow_call:
    inputs:
      operator_version:
        description: The image tag to copy, fully specified, e.g. "v2.0.0"
        type: string
        required: true
  repository_dispatch:
    types:
      - sync-ecr

env:
  DOCKER_USERNAME: pulumi
  OPERATOR_VERSION: ${{ inputs.operator_version || github.event.client_payload.ref }}
  OPERATOR_IMAGE_NAME: pulumi-kubernetes-operator
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-pulumi-kubernetes-operator
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false

jobs:
  sync-to-ecr:
    name: Pulumi Kubernetes Operator image
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-region: us-east-2
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-duration-seconds: 3600
          role-external-id: upload-pulumi-release
          role-session-name: pulumi@githubActions
          role-to-assume: ${{ steps.esc-secrets.outputs.AWS_UPLOAD_ROLE_ARN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get Public ECR Authorization token
        run: |
          aws --region us-east-1 ecr-public get-authorization-token \
            --query 'authorizationData.authorizationToken' | \
            tr -d '"' | base64 --decode | cut -d: -f2 | \
            docker login -u AWS --password-stdin https://public.ecr.aws
      - name: Copy ${{ env.OPERATOR_VERSION }} image to AWS Public ECR
        run: |
          skopeo copy --all docker://docker.io/${{ env.DOCKER_USERNAME }}/${{ env.OPERATOR_IMAGE_NAME }}:${{ env.OPERATOR_VERSION }} docker://public.ecr.aws/${{ env.DOCKER_USERNAME }}/${{ env.OPERATOR_IMAGE_NAME }}:${{ env.OPERATOR_VERSION }}
      - name: Copy ${{ env.OPERATOR_VERSION }} image to GitHub Container Registry
        run: |
          skopeo copy --all docker://docker.io/${{ env.DOCKER_USERNAME }}/${{ env.OPERATOR_IMAGE_NAME }}:${{ env.OPERATOR_VERSION }} docker://ghcr.io/${{ env.DOCKER_USERNAME }}/${{ env.OPERATOR_IMAGE_NAME }}:${{ env.OPERATOR_VERSION }}
      - name: Output build summary
        run: |
          SUMMARY=$'# Image Syncing Summary\nSource Image: `pulumi/${{ env.OPERATOR_IMAGE_NAME }}:${{ env.OPERATOR_VERSION }}`\n\nDestination Images:\n- `public.ecr.aws/${{ env.DOCKER_USERNAME }}/${{ env.OPERATOR_IMAGE_NAME }}:${{ env.OPERATOR_VERSION }}`\n- `ghcr.io/${{ env.DOCKER_USERNAME }}/${{ env.OPERATOR_IMAGE_NAME }}:${{ env.OPERATOR_VERSION }}`'
          echo "$SUMMARY" >> $GITHUB_STEP_SUMMARY
